<form action="/players" method="POST">
  Username: <input type="text" name=player[username] placeholder="jDoe90">
  <br> <br>
  Email: <input type="text" name=player[email] placeholder="j_doe@gmail.com">
  <br> <br>
  Password: <input type="password" name=player[password]>
  <br> <br>
  <input type="submit" value="REGISTER">
</form>
